@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');



button {
    font-size: 1.1rem;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4; 
  }
  
  a {
  color: #333;
  text-decoration: none;
  }


body {
    background-color: #66CC99;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    background-color: #cbfcfd;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #CCFFFF;
    min-height: 244.86px;
    height: 33vh;
    padding-top: 30px;
    margin: 0;
}

.headerMini {
    background: url('./tilesCarrots-06.svg');
  background-repeat: repeat;
  background-position: center center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #CCFFFF;
    min-height: 100px;
    height: 110px;
    margin: 0;
}

.logo {
    height: 586px;
    width: 280px;
    min-width: 180px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    /* ratio: 1,706456310679612 */
}

.logoMini {
    justify-content: flex-start;
    height: 100;
    width: 230px;
    margin-left: 20px;
    margin-top: 0;
    padding: 0;
}

.span1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


h1 {
    padding: 2px 5px;
    font-size: 45px;
    /* font-size: calc(0.7rem + 1.2vh + 1vw); */
    margin: 0;
}

.carrot {
    position: relative;
    bottom: 13px; 
    width: 10px;
    min-width: 30px;
}

.adding {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

h2 {
    /* display: flex;
    margin-left: auto;
    margin-right: auto; */
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: calc(10px + 0.5vh + 0.5vw);
    padding-top: 2vh;   
}

h3 {
    font-size: 1.2rem;
     font-weight: 800;
     padding-left: 20px;
    padding-right: 20px;
    padding-top: 1rem; 
    
}

.line {
    width: 100%;
    height: 1px;
    margin: 0;
}

input {
    border-radius: 10px;
    margin-top: 0;
    margin-right: 7px;
    height: 45px;
    display: block;
    /* height: calc(1.5em + .75rem + 2px); */
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.add {
    border: 0;
    border-radius: 10px;
    padding: 1px 10px 2px;
    background-color: #CCFFFF;
    height: 45px;
    box-shadow: 2px 2px 1px 0px #99CCCC;
    box-sizing: border-box;
}
.add:hover {
        background-color: #99CCCC;
        color: white;
        box-shadow: none;
}

.search {
    border: 0;
    border-radius: 7px;
    padding: 1px 35px 2px;
    background-color: #CCFFFF;
    height: 25px;
    box-sizing: border-box;
    margin: 15px 0px 15px;
}

    /* padding: 15px; */


.span2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    margin-top: 15px;
}    

ul li {
    cursor: pointer;  
    display: flex;
    /* padding: 5px 0 5px 10px; */
    align-items: center;
    background-color: #003333;
    color: white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 20px; 
    justify-content: space-between; 
}

.removeButton {
    background-color: rgb(167, 12, 12);
    border: 0;
    color: #fff;
    border-radius: 20px;
    font-weight: 300;
    font-size: 1.1em;
    margin-right: -1px;
    padding: 1px 17px 2px;
}

.tiny-carrot {
    height: 20px;
    width: auto;
    height: 12px;
    margin: 7px;
    margin-right: 15px;
}

.listItem {
    font-family: Roboto;
    display: flex;
    flex-flow: column;
    justify-self: center;
    margin: 10px;
    color: #212529;
}

.recipePic {
    width: 100%;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-left: 200px;
    margin-right: 200px;

}

.list > * {
    border: 4px solid #CCFFFF;
    border-radius: 40px;
    overflow: hidden;
    background-color: #CCFFFF;
    width: 100%;
    height: 100%;  
     
}

.recipeList {
    padding: 10px;
}

